footer {
    background-image: linear-gradient(to right, #ED912B, #ED2B52);
    /*padding: 20px;*/
	text-align: center;
}

.caixa-footer {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.img-footer {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-top: 20px;
}

.copyright {
    color: white;
    padding-bottom: 20px;
}