@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.limpar-float {
    clear: left;
}

/*CAMPOS QUE POSSUEM O FUNDO EM DEGRADÊ AMARELO PARA ROSA*/
.fundo-colorido {
    height: 500px;
    background-image: linear-gradient(to right, #ED912B, #ED2B52);
    text-align: center;
    padding: 30px 0
}


.fundo-colorido:nth-child(1) img {
    position:relative;
    top: -40px;
}

.fundo-colorido p {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}

.fundo-colorido:nth-child(3) {
    display: table-cell;
    vertical-align: middle;
}




/*TEXTO DE DESTAQUE EM BRANCO*/
.texto-destaque-branco {
    color: white;
    font-size: 30px;
    font-family: 'Tinos', serif;
}


/*PROPRIEDADES SOBRE O PRIMEIRO BLOCO DA PÁGINA SOBRE NATÁLIA*/
.bloco1 {
    padding: 20px 0;
    height: auto;
    display: table-cell;
    vertical-align: middle
}

.bloco1 img {
    max-width: 550px;
    max-height: 550px;
    margin: 0 20px 20px 0;
    float: left;
}

.bloco1 .texto {
    text-align: justify;
    height: 560px;
    width: auto;
    vertical-align: middle;
    display: table-cell;
}

.bloco1 .texto p {
    /*position: relative;*/
    line-height: 2em;
    font-size: 19px;
}

.bloco1 .texto:first-child {
    font-size: 1.2em;
}

/*PROPRIEDADES SOBRE O SEGUNDO BLOCO DA PÁGINA SOBRE NATÁLIA*/
.bloco2 {
    padding: 20px;
    height: 420px;
    display: table-cell;
    vertical-align: middle;
    background-image: linear-gradient(to right, #ED912B, #ED2B52);
    text-align: center;
    line-height: 2em;
    font-style: italic;
}

/*PROPRIEDADES SOBRE O TERCEIRO BLOCO DA PÁGINA SOBRE NATÁLIA*/
.bloco3 {
    padding: 20px 0;
    height: auto;
    width: 100%;
    display: inline-table;
}

.bloco3 .texto {
    text-align: justify;
    height: 500px;
    width: 577px;
    vertical-align: middle;
    display: table-cell;
    padding: 0 10px 0 10px;
    line-height: 2em;
    font-size: 19px;
}

.bloco3 img {
    /*max-width: 560px;*/
    height: 500px;
    width: auto;
    /*margin: 0 20px 20px 0;*/
    float: left;
}

/*PÁGINA ABOUT*/
.retangulo{
    width: 100%;
    background-color: #ffb2369c;
    padding: 10px;
    margin: 25px 0;
}

.conteudo-deslocado-direita {
    width: 60%;
    position: absolute;
    top: 60px;
    right: 42px;
}

.direita {
    width: 40%;
    position: absolute;
    top: 950px;
    right: 20px;
}

.conteudo-deslocado-esquerda {
    width: 70%;
}



a {
    color:rgb(148, 54, 0);
}

.foto-natalia {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    display: block;
}

.foto-natalia:nth-child(2){
    border: 2px solid red;
}


.emoji {
    font-size: 20px;
}

.negrito {
    font-weight: 700;
}

.citacao {
    font-size: 30px;
    margin: 70px 60px;
    line-height: 1.2;
}

.foto-arredondada {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 10px;
    transition: 1s all;
}

/*.fonfon {
    position: absolute;
    top: 320px;
    right: 20px;
    font-size: 12px;
    text-align: center;
}*/


.foto-arredondada:hover {
    transform: rotate(90);
}




.aumentar-emoji {
    display:block;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}




